#online {
  font-family: Lobster;
}
#offlinevectordiv {
  background-image: url("../images/plagiarism5.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 40rem;
}
.offlineLink {
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 8px;
  font-size: 18px;
  border: 1px solid grey;
  border-radius: 40px;
  height: 8%;
}
.offlineLink:hover {
  text-decoration: none;
  color: aliceblue;
  background: linear-gradient(to right, #b24592, #f15f79);
}
#offlineDiv {
  background-image: url("../images/plagiarism9.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 30rem;
}
.offlineNavDiv {
  /* height: 60px; */
  height: auto;
  color: aliceblue;
  font-family: Lobster;
  letter-spacing: 2px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
}
.offlineNavDiv button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0.5rem;
  border: none;
  outline: none;
  border-radius: 12px;
}
.offlineNavDiv button:hover {
  background: linear-gradient(to right, #cb2d3e, #ef473a);
  color: aliceblue;
}
.individualDiv button {
  font-family: Lobster;
  border: none;
  outline: none;
  background: linear-gradient(to right, #00b09b, #96c93d);
  color: aliceblue;
  font-size: 20px;
  border-radius: 40px;
  height: 35px;
}
.individualDiv button:hover {
  background: black;
}
.individualDiv .copydiv {
  display: none;
  text-align: center;
  color: goldenrod;
  font-family: Lobster;
  font-size: 20px;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border-radius: 12px;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 0.2rem;
}
